{% extends "main/base.html" %}

{% block title %}
О нас
{% endblock %}


{% block content %}
<style>
    .block{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 50px;
        font-family: "Calibri";
        font-size: 20px;
        align-items: center;
        justify-content: center;
}
</style>
<div class="block">
    <p>Сайт с отзывами на фильмы от обычных пользователей, который поможет подобрать фильм</p>
    <p>
        На сайте нет прямой оценки (4,5 звёзды или 76% свежести), 
        которая может дать предвзятое мнение ещё до просмотра или чтения отзывов, 
        есть только мысли, которые могут пробудить в вас ещё больший интерес к картине
    </p>
</div>
{% endblock %}