{% extends "main/base.html" %}

{% block title %}
Аккаунт
{% endblock %}


{% block content %}
<style>
    .block{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
    }
    .text-header{
        font-family: "Calibri";
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content-text{
        font-family: "Calibri";
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;

    }
    .text-header-small{
        font-family: "Calibri";
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
    .href-title{
        margin-bottom: 20px;
        font-family: "Calibri";
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;  
        text-decoration: none;
        color: black;
        }
    .href-title:hover{
        color: rgb(14, 215, 14);
        text-decoration: underline;
    }
    .comment{
        font-family: "Calibri";
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
    .floating-button {
        text-decoration: none;
        display: inline-block;
        border: 10px;
        border-color: black;
        width: 200px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: "Calibri";
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
    }
    .floating-button:hover {
        background: #e5432e;
        box-shadow: 0 15px 20px rgba(229, 98, 46, 0.4);
        color: white;
        transform: translateY(-7px);
    }
</style>
<div class="block">
    <b class="text-header">Аккаунт</b>
</div>
<div class="block">
    <p class="content-text"><b>Логин: </b>{{user.username}}</p>
    <p class="content-text"><b>Email: </b>{{user.email}}</p>
    <p class="content-text"><b>Аккаунт создан: </b>{{user.date_joined}}</p>
    <p class="content-text"><b>Последний вход: </b>{{user.last_login}}</p>
    <form method="post">
        {% csrf_token %}
        <p class="content-text">
            <input type="submit" value="Выйти из аккаунта" class="floating-button">
        </p>
    </form>
</div>
{%if comments%}
<div class="block">
    <b class="text-header-small">Ваши отзывы</b>
</div>
<div class="block">
    {% for comment in comments %}
    <a href="{% url 'about-film' %}?movie={{comment.film_href}}" class="href-title">{{ comment.film_title }}</a>
    <div class="comment">
        {{ comment.comment }}
    </div>
    {% endfor %}
</div>
{%else%}
<div class="block">
    <b class="text-header-small">Вы пока не оставляли отзывов</b>
</div>
{%endif%}
{% endblock %}