{% extends "main/base.html" %}

{% block title %}
Регистрация
{% endblock %}


{% block content %}
<style>
    .register{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Calibri";
        font-size: 30px;
        margin-left: 10px;
    }
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
    }
    .form-space{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form-style{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Calibri";
        font-size: 25px;
        margin-bottom: 10px;
    }
    .form-block{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .block-mini{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .floating-button {
        text-decoration: none;
        display: inline-block;
        border: 10px;
        border-color: black;
        width: 200px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: "Calibri";
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
    }
    .floating-button:hover {
        background: #2EE59D;
        box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
        color: white;
        transform: translateY(-7px);
    }
    .errors{
        color: red;
        font-family: "Calibri";
        font-size: 20px;
    }
</style>
<b class="register">Регистрация</b>
<div class="form">
    
    <form method="post">
        {% csrf_token %}
        <div class="form-space">
            <div class="form-style">{{ user_form.username.label }}</div>
            <div class="form-style">{{ user_form.username }}</div>            
        </div>
        <div class="form-space">
            <div class="form-style">{{ user_form.email.label }}</div>
            <div class="form-style">{{ user_form.email }}</div>            
        </div>
        <div class="form-space">
            <div class="form-style">{{ user_form.password1.label }}</div>
            <div class="form-style">{{ user_form.password1 }}</div>            
        </div>
        <div class="form-space">
            <div class="form-style">{{ user_form.password2.label }}</div>
            <div class="form-style">{{ user_form.password2 }}</div>            
        </div>

        {%if message%}
        <div class="block-mini">
            <b class="errors">
            {{message.username}}
            {{message.password1}}
            {{message.password2}}</b> 
        </div>
        {%endif%}
        <p></p>
        <div class="block-mini"><input type="submit"  value="Создать аккаунт" class="floating-button"></div>
    </form>

{% endblock %}